[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "*"
pydantic = "*"
pydantic-settings = {extras = ["yaml"] }
async-lru = "*"
asgi-lifespan = "*"
fastapi = "==0.110"
fastapi-utils = "*"
uvicorn = "*"
typing-inspect = "*"
greenlet = "*"
motor = "*"
google-re2 = "*"
telethon = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
flake8-broken-line = "*"
flake8-bugbear = "*"
flake8-builtins = "*"
flake8-cognitive-complexity = "*"
flake8-commas = "*"
flake8-comprehensions = "*"
flake8-functions = "*"
flake8-print = "*"
flake8-quotes = "*"

[requires]
python_version = "3.12"
