[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "*"
pydantic = "*"
"ruamel.yaml" = "*"
pydantic-settings = {extras = ["yaml"] }
async-lru = "*"
asgi-lifespan = "*"
fastapi = "==0.110"
fastapi-utils = "*"
uvicorn = "*"
typing-inspect = "*"
greenlet = "*"
motor = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.12"
